@use "variables";

$maxWidth: 1000px;
$standardWidth: 0.65;

.page-not-found {
  width: 100vw;
  height: 100vh;
  padding: 0 ((1 - $standardWidth) * 100vw);
  background-color: #eee;
  display: flex;
  align-items: center;
  @media (min-width: $maxWidth / $standardWidth) {
    padding: 0 calc((100vw - #{$maxWidth}) / 2.0 );
  }
  @media #{variables.$phoneQuery} {
    padding: 20vh 7.5vw;
    h1 {
      margin-bottom: 30px;
    }
  }
  div {
    flex: 1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 75px;
    @media #{variables.$phoneQuery} {
      padding: 30px;
    }
  }
}