$maxWidth: 1000px;
$standardWidth: 0.65;

body {
}

.page-not-found {
  width: $standardWidth * 100vw;
  height: 100vh;
  flex: 1;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 75px;
  margin-left: (1 - $standardWidth) / 2 * 100vw;
}

@media (min-width: $maxWidth / $standardWidth) {
  .page-not-found {
    width: $maxWidth;
    margin-left: calc((100vw - #{$maxWidth}) / 2.0);
  }
}