.home {
  height: 100vh !important;
  background-image: linear-gradient(#1574b6a6, #1574b6a6), url("../assets/images/banners/home-background-2.jpg");
  background-position: center;
  text-align: left !important;
}
.home h1 {
  text-align: left;
}

.down-arrow {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 30px;
  align-self: center;
  font-size: 35px;
  background-color: transparent;
  border: none;
  color: unset;
  cursor: pointer;
}
.down-arrow .fas {
  transition: all 0.2s ease;
}
@media (max-width: 500px) {
  .down-arrow .fas {
    display: none;
  }
}
.down-arrow:hover .fas {
  transition: all 0.2s ease;
  transform: translateY(10px);
}

.team-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-summary .logo {
  width: 40vw;
  align-self: center;
}
.team-summary .summary-cols {
  margin: 0 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .team-summary .summary-cols {
    flex-direction: column;
    margin: 0;
  }
}
.team-summary .summary-cols .summary-col {
  text-align: center;
  flex: 1;
  margin: 60px;
}

@media (max-width: 500px) {
  .robots h1 {
    margin-bottom: 20px;
  }
}
.robots .robots-slideshow {
  background-color: transparent;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-content: flex-end;
}
@media (max-width: 500px) {
  .robots .robots-slideshow {
    flex-direction: column-reverse;
  }
}
.robots .robots-slideshow .robot-slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 10px;
  cursor: pointer;
}
.robots .robots-slideshow .robot-slide .robot-image {
  transition: all 0.2s ease;
  transform: scale(1);
  width: 20vw;
}
@media (max-width: 500px) {
  .robots .robots-slideshow .robot-slide .robot-image {
    width: 70vw;
    align-self: center;
  }
}
@media (min-width: 501px) {
  .robots .robots-slideshow .robot-slide:hover .robot-image {
    transition: all 0.2s ease;
    transform: scale(1.1);
  }
}
@media (max-width: 500px) {
  .robots .robots-slideshow .robot-slide:active .robot-image {
    transition: all 0.2s ease;
    transform: scale(1.1);
  }
}
.robots .robots-slideshow .robot-slide p {
  transition: all 0.2s ease;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  margin: 20px 0;
}
@media (min-width: 501px) {
  .robots .robots-slideshow .robot-slide p {
    opacity: 0;
  }
}
.robots .robots-slideshow .robot-slide:hover p {
  transition: all 0.2s ease;
  opacity: 1;
}
.robots .robots-slideshow .robot-slide a {
  color: unset;
  text-decoration: unset;
}

.sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sponsors p {
  margin-top: 20px;
  width: 50vw;
  text-align: center;
}
@media (max-width: 500px) {
  .sponsors p {
    width: 75vw;
  }
}
.sponsors .sponsor-tier {
  max-width: 750px !important;
  background-color: #fff;
  margin-top: 20px;
  padding: 30px 30px 60px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px 3px #0001;
}
@media (max-width: 500px) {
  .sponsors .sponsor-tier {
    width: 95vw;
  }
  .sponsors .sponsor-tier h3 {
    margin-bottom: 20px;
  }
}
.sponsors .sponsor-tier .sponsor-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 500px) {
  .sponsors .sponsor-tier .sponsor-logos {
    flex-direction: column;
  }
}
.sponsors .sponsor-tier .sponsor-logos a {
  transition: all 0.2s ease;
}
@media (min-width: 501px) {
  .sponsors .sponsor-tier .sponsor-logos a {
    margin: 20px;
  }
  .sponsors .sponsor-tier .sponsor-logos a:hover {
    transition: all 0.2s ease;
    transform: scale(1.075);
  }
}
@media (max-width: 500px) {
  .sponsors .sponsor-tier .sponsor-logos a:active {
    transition: all 0.2s ease;
    transform: scale(1.075);
  }
}

/*# sourceMappingURL=index.css.map */
