.media {
  background-image: url("/assets/images/banners/media-background.jpg");
  background-position: bottom;
}

.album-top {
  color: #000;
}
.album-top h6 {
  color: #000;
}
.album-top .nav-item:before {
  background-color: #000;
}

.section {
  padding: 120px;
}
@media (max-width: 500px) {
  .section {
    padding: 60px 0;
  }
}

.year {
  padding-top: 20px;
}
.year h2 {
  margin-left: 20px;
}
@media (max-width: 500px) {
  .year h2 {
    margin-left: 0;
    text-align: center;
  }
}
.year div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}
@media (max-width: 500px) {
  .year div {
    flex-direction: column;
    align-items: center;
  }
}
.year div iframe, .year div a {
  width: 300px;
  height: 250px;
  margin: 20px;
}
.year div iframe {
  border: none;
}
.year div a {
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: end;
  cursor: pointer;
  text-decoration: none;
}
.year div a div {
  transition: all 0.2s ease;
  flex: 1;
  background-color: #0000;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.year div a div .fas {
  transition: all 0.2s ease;
  font-size: 48px;
  margin-top: 71px;
}
.year div a:hover div {
  transition: all 0.2s ease;
  background-color: #0008;
}
.year div a:hover div .fas {
  transition: all 0.2s ease;
  margin-left: 30px;
}

.photo-album {
  padding: 120px;
}
.photo-album div {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.photo-album div img {
  object-fit: contain;
  width: 300px;
  height: 250px;
  margin: 20px;
}

.kickoff-2019 {
  background-image: url("/assets/images/photo-albums/2019-kickoff.JPG");
}

.build-season-2019 {
  background-image: url("/assets/images/photo-albums/2019-build-season.JPG");
}

.fsk-2019 {
  background-image: url("/assets/images/photo-albums/2019-fsk-maker-faire.jpg");
}

.sfr-2019 {
  background-image: url("/assets/images/photo-albums/2019-sfr.JPG");
}

.svr-2019 {
  background-image: url("/assets/images/photo-albums/2019-svr.JPG");
}

.houston-2019 {
  background-image: url("/assets/images/photo-albums/2019-houston.JPG");
}

.kickoff-2018 {
  background-image: url("/assets/images/photo-albums/2018-kickoff.JPG");
}

.build-season-2018 {
  background-image: url("/assets/images/photo-albums/2018-build-season.JPG");
}

.fsk-2018 {
  background-image: url("/assets/images/photo-albums/2018-fsk-maker-faire.JPG");
}

.sfr-2018 {
  background-image: url("/assets/images/photo-albums/2018-sfr.jpeg");
}

.svr-2018 {
  background-image: url("/assets/images/photo-albums/2018-svr.jpg");
}

.build-season-2017 {
  background-image: url("/assets/images/photo-albums/2018-build-season.JPG");
}

.outreach-2017 {
  background-image: url("/assets/images/photo-albums/2017-outreach.JPG");
}

.sfr-2017 {
  background-image: url("/assets/images/photo-albums/2017-sfr.JPG");
}

/*# sourceMappingURL=media.css.map */
