@use "styles";

$bannerImg: url("../assets/images/banners/outreach-background.JPG");
$missfitsMissionHomeImg: url("../assets/images/photos/missfits-mission-home.jpg");
$lunchImg: url("../assets/images/photos/lunch.jpg");

.outreach {
  background-image: linear-gradient(styles.$backgroundTint, styles.$backgroundTint), $bannerImg;
  background-position: bottom;
}

.missfits-mission-home p {
  margin: 20px 8vw 0 8vw;
  text-align: center;
}

.missfits-mission-home-img {
  background-image: $missfitsMissionHomeImg;
}

.lunch {
  background-image: $lunchImg;
}

.year {
  padding: 20px;
}

.event {
  margin: 20px 0 40px;
}

.article {
  margin: 20px;
}

.date {
  font-size: 0.75em;
}

.preview {
  margin-top: 10px;
}