@use "variables";

$erisImg: url("../assets/images/banners/eris-background.jpg");
$athenaImg: url("../assets/images/banners/athena-background.JPG");
$artemisImg: url("../assets/images/banners/artemis-background.jpeg");
$eosImg: url("../assets/images/banners/eos-background.JPEG");

.header {
  background-position: bottom;
}

.eris {
  background-image: linear-gradient(variables.$backgroundTint, variables.$backgroundTint), $erisImg;
}

.athena {
  background-image: linear-gradient(variables.$backgroundTint, variables.$backgroundTint), $athenaImg;
}

.artemis {
  background-image: linear-gradient(variables.$backgroundTint, variables.$backgroundTint), $artemisImg;
}

.challenge {
  display: flex;
  flex-direction: row;
  @media #{variables.$phoneQuery} {
    flex-direction: column;
  }
  h2 {
    margin-bottom: 20px;
  }
  iframe {
    width: 50vw;
    max-width: variables.$sectionMaxWidth / 2;
    height: 100%;
    border: none;
    @media #{variables.$desktopQuery} {
      margin-left: 50px;
    }
    @media #{variables.$phoneQuery} {
      width: 100%;
      margin-top: 20px;
    }
  }
}

.robot-row {
  display: flex;
  align-items: center;
  @media #{variables.$phoneQuery} {
    flex-direction: column;
  }
  img {
    @media #{variables.$desktopQuery} {
      width: 30vw;
      margin-bottom: 20px;
    }
    @media #{variables.$phoneQuery} {
      width: 75vw;
    }
  }
  div {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  ul {
    margin: 0;
    padding-left: 20px;
  }
  .fas {
    transition: variables.$transition;
    margin-left: 10px;
  }
  .tech-binder-button {
    transition: variables.$transition;
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    color: unset;
    border-radius: 5px;
    align-self: center;
    @media #{variables.$desktopQuery} {
      &:hover {
        transition: variables.$transition;
        box-shadow: 0 0 10px 3px #0001;
        .fa-download {
          transition: variables.$transition;
          transform: translateY(3px);
        }
      }
    }
    @media #{variables.$phoneQuery} {
      &:active {
        transition: variables.$transition;
        box-shadow: 0 0 10px 3px #0001;
        .fa-download {
          transition: variables.$transition;
          transform: translateY(3px);
        }
      }
    }
  }
  .competition-schedule {
    li {
      list-style-type: none;
      margin: 15px 0 25px 0;
      a {
        transition: variables.$transition;
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
        color: unset;
        text-decoration: none;
        @media #{variables.$desktopQuery} {
          &:hover {
            transition: variables.$transition;
            box-shadow: 0 0 10px 3px #0001;
            .fa-chevron-right {
              transform: translateX(3px);
            }
          }
        }
        @media #{variables.$phoneQuery} {
          span {
            display: none;
          }
          &:active {
            transition: variables.$transition;
            box-shadow: 0 0 10px 3px #0001;
            .fa-chevron-right {
              transform: translateX(3px);
            }
          }
        }
      }
    }
  }
}