@use "variables";
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Sen:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: variables.$bodyFont;
  font-size: 1.125em;
  margin: 0;
  padding: 0;
  background-color: variables.$footerColor;
  overflow-x: hidden;
}

h1 {
  font-family: variables.$headerFont;
  font-weight: bold;
  text-transform: uppercase;
  font-size: variables.$h1Size * 100vw;
  text-align: center;
  margin: 0;
  @media (max-width: variables.$minWidth) {
    font-size: variables.$minWidth * variables.$h1Size;
  }
  @media (min-width: (variables.$sectionMaxWidth + 2 * variables.$sectionMinPadding)) {
    font-size: (variables.$sectionMaxWidth + 2 * variables.$sectionMinPadding) * variables.$h1Size;
  }
  @media #{variables.$phoneQuery} {
    font-size: 13vw;
  }
}

h2 {
  font-family: variables.$headerFont;
  font-weight: normal;
  margin: 0;
  font-size: variables.$h2Size * 100vw;
  @media (max-width: variables.$minWidth) {
    font-size: variables.$minWidth * variables.$h2Size;
  }
  @media (min-width: (variables.$sectionMaxWidth + 2 * variables.$sectionMinPadding)) {
    font-size: (variables.$sectionMaxWidth + 2 * variables.$sectionMinPadding) * variables.$h2Size;
  }
}

h3 {
  font-family: variables.$headerFont;
  font-size: 1.25em;
  font-weight: bold;
  margin: 0;
}

h6 {
  font-family: variables.$headerFont;
}

p {
  margin: 0;
}

p a, h3 a {
  transition: variables.$transition;
  opacity: 1;
  color: variables.$tintColor;
  text-decoration: none;
}

p a:hover, h3 a:hover {
  transition: variables.$transition;
  opacity: 0.6;
}

.dark {
  color: #fff;
}

.scroll-to-hidden, .hidden-onload {
  transition: variables.$onScrollTransition;
  opacity: 0;
}

.scroll-to-shown, .shown-onload {
  transition: variables.$onScrollTransition;
  opacity: 1;
}

.delay {
  transition: variables.$onScrollTransition 0.2s;
}

.section {
  padding: variables.$sectionMinPadding;
  width: 100vw;
  @media (min-width: (variables.$sectionMaxWidth + 2 * variables.$sectionMinPadding)) {
    padding: variables.$sectionMinPadding calc(50vw - #{variables.$sectionMaxWidth / 2.0});
  }
  @media #{variables.$phoneQuery} {
    padding: 30px;
  }
}

.background1 {
  background-color: variables.$background1;
}

.background2 {
  background-color: variables.$background2;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  height: 60vh;
  width: 100vw;
  padding: 60px;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  @media #{variables.$phoneQuery} {
    padding: 30px;
    background-attachment: scroll;
  }
}

.background-image {
  background-attachment: fixed;
  background-size: cover;
  height: 500px;
  @media #{variables.$phoneQuery} {
    background-attachment: scroll;
  }
}