@use "styles";

$bannerImg: url("../assets/images/banners/about-background.jpg");
$troubleshootingImg: url("../assets/images/photos/troubleshooting.jpg");
$allianceImg: url("../assets/images/photos/254alliance.jpg");
$mentorsImg: url("../assets/images/photos/mentors.jpg");

.about {
  background-image: linear-gradient(styles.$backgroundTint, styles.$backgroundTint), $bannerImg;
}

.first {
  box-sizing: border-box;
  min-height: 40vh;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-left: 10vw;
  padding-right: 10vw;
}

.about-summary {
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.about-summary p {
  margin: 15px;
  flex: 1
}

.troubleshooting {
  background-image: $troubleshootingImg;
}

.alliance {
  background-image: $allianceImg;
}

.mentors-img {
  background-image: $mentorsImg;
}

.leadership-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.leadership-table div {
  margin: 20px;
}

.leadership-table img {
  border-radius: 1000000px;
  margin-bottom: 20px;
}

.name {
  font-family: "Cabin Sketch", cursive;
  font-size: 1.5em;
}

.mentors {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mentors div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 30px;
}

.mentors div p {
  padding: 10px 25px;
  margin: 0;
}

.mentors > p {
  max-width: 500px;
}