$background1: #ffffff;
$background2: #f8f8f8;
$tintColor: #3399E0;
$footerColor: #eee;

$bodyFont: "Sen", Arial, sans-serif;
$headerFont: "Cabin Sketch", cursive;

$minWidth: 650px;
$h1Size: 0.08;
$h2Size: 0.04;

$transition: all 0.2s ease;
$onScrollTransition: opacity 0.5s ease;

$backgroundTint: #00000040;

* {
  box-sizing: border-box;
}

body {
  font-family: $bodyFont;
  font-size: 1.125em;
  margin: 0;
  padding: 0;
  background-color: $footerColor;
}

h1 {
  font-family: $headerFont;
  font-weight: bold;
  text-transform: uppercase;
  font-size: $h1Size * 100vw;
  text-align: center;
  margin: 0;
}

h2 {
  font-family: $headerFont;
  font-weight: normal;
  margin: 0;
  font-size: $h2Size * 100vw;
}

h3 {
  font-family: $headerFont;
  font-size: 1.25em;
  font-weight: bold;
  margin: 0;
}

h6 {
  font-family: $headerFont;
}

p {
  margin: 0;
}

p a, h3 a {
  transition: $transition;
  opacity: 1;
}

p a:hover, h3 a:hover {
  transition: $transition;
  opacity: 0.6;
}

.dark {
  color: #fff;
}

.scroll-to-hidden, .hidden-onload {
  transition: $onScrollTransition;
  opacity: 0;
}

.scroll-to-shown, .shown-onload {
  transition: $onScrollTransition;
  opacity: 1;
}

.delay {
  transition: $onScrollTransition 0.2s;
}

.section {
  padding: 60px;
  width: 100vw;
  box-sizing: border-box;
}

.background1 {
  background-color: $background1;
}

.background2 {
  background-color: $background2;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  height: 60vh;
  width: 100vw;
  padding: 60px;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.background-image {
  background-attachment: fixed;
  background-size: cover;
  height: 500px;
}

@media (max-width: $minWidth) {
  h1 {
    font-size: $minWidth * $h1Size;
  }

  h2 {
    font-size: $minWidth * $h2Size;
  }
}